.modal {
  position: fixed;
  border: 2px solid #ffff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 9999999;
  color: #6c757d;
  top: 25px;
  right: 360px;
  background-color: #f7f9fc;
  padding: 10px 0;
}

.modal li {
  width: 100%;
  padding: 10px 20px;
}

.modal li:hover {
  background-color: #fff;
  color: #1659c7;
  transition: all 0.8s ease-in;
}
