.sidebar {
  width: 20%;
  background-color: #1659c7;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
}

.sidebar-container {
  width: 60%;
}

ul {
  list-style: none;
  padding: 0;
  text-align: left;
  font-size: 14px;
}

li {
  padding: 10px 0;
}
